@model DetailsVM

<form asp-action="ChangePassword">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PasswordVM.CurrentPassword" class="control-label"></label>
        <input id="CurrentPassword" asp-for="PasswordVM.CurrentPassword" class="form-control" />
        <span asp-validation-for="PasswordVM.CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordVM.NewPassword" class="control-label"></label>
        <input id="NewPassword" asp-for="PasswordVM.NewPassword" class="form-control" />
        <span asp-validation-for="PasswordVM.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordVM.ConfirmPassword" class="control-label"></label>
        <input id="ConfirmPassword" asp-for="PasswordVM.ConfirmPassword" class="form-control" />
        <span asp-validation-for="PasswordVM.ConfirmPassword" class="text-danger"></span>
    </div>
</form>
<hr />

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#SaveChange").click(function () {
                $("#ModelOnly").html("");
                $.ajax({
                    type: "post",
                    url: "/employee/changepassword",
                    success: function (response) {
                        console.log(response);
                    }
                });
            });
        });
    </script>